@page "/"
@using FlightAggregator.Models
@using FlightAggregator.Services

<PageTitle>Flights</PageTitle>

<h3>Search Flights</h3>

<div>
    <input @bind="departure" placeholder="From" />
    <input @bind="arrival" placeholder="To" />
</div>
<MudTextField @bind-Value="TextValue" Label="Standard" Variant="Variant.Text"></MudTextField>
<MudTextField @bind-Value="TextValue" Label="Filled" Variant="Variant.Filled"></MudTextField>
<MudTextField @bind-Value="TextValue" Label="Outlined" Variant="Variant.Outlined"></MudTextField>

@code {
    public string TextValue { get; set; }
}

@code {
    private string departure = "";
    private string arrival = "";
   
}
