@page "/"
@using FlightAggregator.Models
@using FlightAggregator.Services

<PageTitle>Flights</PageTitle>

<h3>Search Flights</h3>

<div>
    <input @bind="departure" placeholder="From" />
    <input @bind="arrival" placeholder="To" />
</div>


@code {
    private string departure = "";
    private string arrival = "";
   
}
